#!/usr/bin/env python
PACKAGE = "curl_slam"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("w", int_t, 0, "patch resolution", 30, 0, 100)
gen.add("SH_degree", int_t, 0, "patch resolution", 5, 0, 20)
gen.add("IQR_factor", double_t, 0, "filter invalid region threshold", 5, -100 ,100)
gen.add("length_thres", double_t, 0, "filter invalid region threshold", 0.2, -100 ,100)
gen.add("open3d_speed", double_t, 0, "open3d speed", 0.0, -99999.0, 99999.0)
gen.add("is_fix_length_threshold",   bool_t,   0, "is saving the CURL Map of the current degree",  True)
gen.add("is_save_pcd",   bool_t,   0, "is saving the map as pcd",  False)
gen.add("is_save_curlmap",   bool_t,   0, "is saving the CURL Map of the current degree",  False)


exit(gen.generate(PACKAGE, "curl_slam", "ContinuousRecons"))
