#!/usr/bin/env python
PACKAGE = "curl_slam"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("position_x", double_t, 0, "Position X", 0.0, -99999.0, 99999.0)
gen.add("position_y", double_t, 0, "Position Y", 0.0, -99999.0, 99999.0)
gen.add("position_z", double_t, 0, "Position Z", 0.0, -99999.0, 99999.0)
gen.add("w", int_t, 0, "Minimum RSO", 20, 0, 100)
gen.add("degree", int_t, 0, "Degree of spherical harmonics", 10, 0, 50)
gen.add("radius", double_t, 0, "Radius", 20, 0, 500)
gen.add("IQR_thres", double_t, 0, "Reove reconstruction outliers", 0, 0, 2)
# remove outlier patches or not
bool_enum = gen.enum([gen.const("True", bool_t, True, "True"),
                        gen.const("False", bool_t, False, "False")], "For bool switch")
                        # Creating an enum for the method
methods_enum = gen.enum([gen.const("bilinear", str_t, "bilinear", "Bilinear"),
                         gen.const("nn", str_t, "nn", "Nearest Neighbor")],
                        "Reconstruction method")

gen.add("is_shown_in_open3d", bool_t, 0, "Is display in open3d", True, edit_method=bool_enum)
gen.add("is_calculate_normals_open3d", bool_t, 0, "Better rendering", True, edit_method=bool_enum)
gen.add("open3d_rotation_speed", double_t, 0, "Rotation speed", 15.0, 0.0, 100.0)
gen.add("is_show_cleaned_map", bool_t, 0, "Whether show cleaned patches or all patches", False, edit_method=bool_enum)
gen.add("is_publish", bool_t, 0, "Whether publish/show cloud", False, edit_method=bool_enum)
gen.add("method", str_t, 0, "Reconstruction method, bilinear or nn", "nn", edit_method=methods_enum)
gen.add("is_start_saving", bool_t, 0, "Whether start saving and exit the program", False, edit_method=bool_enum)

gen.add("is_save_final_map", bool_t, 0, "Whether save final coefficients map", False, edit_method=bool_enum)
gen.add("is_save_cleaned_map", bool_t, 0, "Whether save cleaned map", False, edit_method=bool_enum)
gen.add("is_save_ground_info", bool_t, 0, "Whether save ground information in final map", False, edit_method=bool_enum)
gen.add("is_save_bounding_box_info", bool_t, 0, "Whether save bounding box information in final map", False, edit_method=bool_enum)
gen.add("is_save_local_points", bool_t, 0, "Whether current local point cloud", False, edit_method=bool_enum)
gen.add("is_save_whole_points", bool_t, 0, "Whether save whole point cloud", False, edit_method=bool_enum)

exit(gen.generate(PACKAGE, "curl_slam", "MapGeneration"))
